.action {
  background-color: rgba(0, 0, 0, 0.5);;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-position: 0 0%, center top;

  min-height: 600px;
  padding: 40px 0;
  color: #fff;
}

.form-input-text, .form-select {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border: 1px solid #f6f6f6;
  border-radius: 5px;
  padding: 10px;
}

.form-input-text {
  width: 300px;
}

.form-select {
  width: 320px;
}

.selected {
  display: none;
}
