.intro {
  background-color: rgba(0, 0, 0, 0.5);;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-position: 0 0%, center top;

  min-height: 600px;
  color: #fff;
  padding-top: 100px;
}

.intro img {
  display: block;
  margin: auto;
  padding-top: 240px;
  opacity: .65;
}
